/* Common Styles */

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; 
}

/* Common Styles */

/* Header Styles */

.page-logo {
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
}

.page-logo-web-iris {
color: #4D5AE5;
}

/* Common Styles */